<center>
<br>
<img src = "https://www.linkpicture.com/q/Mujahidul_IMG_1370.png" class = "img-thumbnail" style = " width:15%;" alt = "My Img">
<br>
<br>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Mujahidul Islam</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Bsc Engineering in Ict</li>
    <li class="list-group-item">Session: 2015-16</li>
    <li class="list-group-item">Comilla University</li>
  </ul>
</div>

</center>
