<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">E Learning</h1>
      <p class="lead">This is a website with authentication system for spreading knowledge</p>
      <hr class="my-4">
      <p>Please sign up for adding to the learning system</p>
      <p class="lead">
        <%= link_to "Sign Up" , signup_path , class: "btn btn-success btn-lg" %>
      </p>
    </div>
  </div>
</div>